* {
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
	width: 100%;
	/* max-width: 1400px; */
	min-width: 768px;
}
#header {
	height: 150px;
	padding-top: 25px;
	background-color: #1687a7;
	margin-bottom: 20px;
}
#icon {
	/* width: 70px; */
	height: 60px;
	border-radius: 50%;
}
#website-name {
	margin: auto;
}
@media (max-width: 1234px) { 
	#website-name{
		display: none;
	}
 }

#website-name h1 {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: auto;
}
.input-group{
	margin: auto;

}

#search-input {
	width: auto;
	height: 35px;
	border: none;
	border-radius: 8px 0px 0px 8px;
	font-size: 20px;
	padding-left: 20px;
	margin: auto;
}
@media (min-width: 1450px) { 
	#search-input{
		width: 300px;
	}
 }

#search-btn {
	color:black;
	width: auto;
	height: 35px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 0px 08px 8px 0px;
	padding: 0 5px;
	background-color: lightgray;
	margin-right: auto;
}

#filter-dropdown {
	width: auto;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	margin: auto;
}

#search-list-container {
	background-color: bisque;
}

#spinner {
	margin-top: 100px;
	opacity: 0.7;
}

.bookContainer {
	padding: 50px;
	/* border: 1px dashed gray; */
}

.bookImage,
.bookInfo {
	background-color: #1687a7;
	padding: 20px;
}

.imageContainer {
	margin-left: 25px;
}

.bookInfo {
	color: white;
	font-size: 16px;
}

.bookInfo a {
	color: white;
	font-size: large;
	font-weight: bold;
}

.bookInfoContainer a:hover {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#main {
	margin-top: 50px;
}

.card-img-top {
	height: 250px;
}

.card-body h5 {
	font-size: 16px;
}

.card{
    text-align: center;
}

.readBtn {
	background-color: #1687a7;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

	padding: 5px 30px;
	border: none;
	border-radius: 8px;
}

.readBtn a {
	color: white;
}

.readBtn a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
