* {
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
	width: 100%;
}
#website-name {
	color: black;
	font-weight: bold;
}

#search-input {
	/* border-radius: 5px; */
	width: 23rem;
	height: 2rem;
}

#search-list-container {
	display: flex;
}
.cover-photo {
	margin: 50px;
}

.book-details-container{
    
    height: 150px;
    padding: 0 auto;
    text-align: center;
}